$darkGray: #333;
$darkOrange: #e67e22;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
$rubik: "Rubik", sans-serif;
$robo: "Roboto", sans-serif;
